body {
    background-image:url('background.jpg');
  
    background-size: cover;
    background-position:center;
    overflow: hidden;
}
  
  .form-control.i{
     width: 150%;
  }
  .container{
      width: 150%;
      opacity: 0.7;
      margin-top: -2.5%; 
  }
  #ford-pass{
      float: right;
  }
  #sign-up{
      padding-top: 18px;
  }
  #search{
      color: white;
      background-color: blue;
      border: none;
      border-radius: 25px;
  }
  .search-container{
      margin-top: 1%;
       margin-left: 80%;
  }
  .nav-extended.i{
      opacity: 0.8;
  }